#title{
    background-color: #ff4c68;
    font-family: Montserrat;
    padding: 0 0 3rem 0;
}

.navbar-tindog{
    background-color: #ff4c68 !important;
    color:#fff;
    margin: 0 10%;
}

#title h1{
    font-size: 3.5rem;
    font-weight: 700;
    color:#fff;
    line-height: 1.2;
}

.download-btn{
    padding:18px;
    font-size: 1.6rem;
    margin-right: 12px;
}

.logo-text{
    font-family: Ubuntu;
    font-size: 2.5rem;
}

.nav-link{
    font-family: Montserrat;
    margin:0 1rem;
    font-size: 1.4rem;
}

.title-image{
    width:65%;
    transform: rotate(20deg);
}

.sub-section{
    margin-top:3rem;
}


#features{
    font-family: Montserrat;
    padding:7% 15%;
}

#features h3{
    font-size: 1.6rem;
    font-weight: bold;
}

#features p{
    color:#8f8f8f;
}

.feature-box{
    text-align: center;
}

.fa-effect{
    margin-bottom: 10px;
    color: #ef8172;
    cursor: pointer;
    transition: color 0.4s, transform 0.4s;
}

.fa-effect:hover{
    color:#ff4c68;
    transform: scale(1.2);
}